<div class="container">
    <%= image_tag("tealight.jpg", class: "img-responsive", id: "frontimage") %>
    <h1>Welcome to Sigil Candles</h1>
    <p>made with real ingredients, for real people, by a real person.</p>
</div>
