// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
    margin: 2em;
}

p{
    text-align: center;
}

.img-responsive{
    display: block;
    margin: 0 auto;
    border: 3px solid #89a370;
}

.thumbnail{
    display: block;
    margin: 0 auto;
    border: 3px solid #89a370;
}




#show {
    border: 2px dotted #89A370;
}

#comments{
    border: 2px dotted;
}

#notice {
    margin: 5em;
}