// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
    margin: 2em;
}

h4{
    text-align: center;
}
p{
    text-align: center;
}

.img-responsive{
    display: block;
    margin: 0 auto;
    border: 3px solid #89a370;
}

.thumbnail{
    display: block;
    margin: 0 auto;
    border: 3px solid #89a370;
}

.rating{
    border:5px groove #89A370;
    margin: 2px auto;
    width: 50%;
}


#show {
    border: 15px groove #89A370;
}

#avgrating{
    border: 10px groove;
    }

#newcomment{
    margin: auto;
    width: 40%;
    padding: 1em;
}

.notice {
    margin: 5em;
}