// Place all the styles related to the static_pages controller here.
body{
    box-sizing: border-box;
    position:relative;
}

h1{
    color: #89a370;
    font-family: Garamond, sans-serif;
    font-size:3em;
    text-align: center;
}

h2{
    text-align: center;
    margin-top: 3em;
    color: black;
}

p{
    color: black;
}

#frontimage{
    margin-top:6em;
}
.image{
    margin: auto;
    width: 60%;
    border: 3px solid #89a370;
    padding: 10px;
}

.carousel {
    margin-left: -15px;
    margin-right: -15px;
}

.complete-product{
    border: 2px solid black;
}

#footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background: #89a370;
}
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
